@media screen and (max-width: 480px) {
    .flash-ctg {
        min-width: 200px;
        margin:4%;
        margin-left: 8%;
    }
    .flash-ctg .flash-ctg-image img {
/*        width: 96%;*/
    }
    .flash-ctg-bottom-ribbon .flash-ctg-button-buynow{
        font-size: 100%;
    }
    .flash-ctg-bottom-ribbon{
        height: 38px;
    }
}
@media screen and (min-width: 481px) {
    
    flash-banner{
    float: left;
    display: block;
    width: 100%;
    }
    
    flash-banner img {
    display: block;
    width: 100%;
    }
    
    .flash-ctg {
        min-width: 220px;
        margin: 2%;
    }
    .flash-ctg .flash-ctg-image img {
/*        width: 96%;*/
    }
    .flash-ctg-bottom-ribbon .flash-ctg-button-buynow{
        font-size: 110%;
    }
    .flash-ctg-bottom-ribbon{
        height: 43px;
    }
}
body{
    width: 100%;
    background: url(../images/flash-landing/background.png) repeat center center;
}
.main-container{
    width:1140px;
    margin:auto;
    font-family: 'arial';
}
.main-container .container{
    width:100%;
    margin: auto;
}
.flash-ctg-area {
    width: 100%;
    margin: auto;
    margin-left:4%;
}

.flash-headline{
margin: 1% 0;
}

.flash-ctg {
    width: 18%;
    font-family: 'arial';
    position: relative;
    float: left;
    background-color: white;
}

.flash-ctg:hover {
    box-shadow: 0 2px 5px gray;
}

.flash-ctg .flash-ctg-top-ribbon {
    width:100%;
    height: 32px;
    background-color:lightgray;
    transition:all 0.6s;
    -webkit-transition:all 0.6s;
    -moz-transition:all 0.6s;
    -o-transition:all 0.6s;
}

.flash-ctg:hover .flash-ctg-top-ribbon {
    color:white;
    background-color:rgb(44,103,163);
}

.flash-ctg .flash-ctg-top-ribbon .flash-ctg-top-ribbon-text  {
    width:100%;
    padding-left: 5%;
    font-size: 94%;
    padding-top: 2.5%;
}

.flash-ctg .flash-ctg-offer-ribbon {
    position: absolute;
    right: -2%;
    top: -1%;
}

.flash-ctg .flash-ctg-image {
    position: static;
    width: 175px;
    height: 175px;
    line-height: 175px;
    text-align: center;
    margin: 0% auto;
    padding-top: 10%;
/*    margin-bottom: 4%:*/
}

.flash-ctg .flash-ctg-image img {
    vertical-align:middle;
    max-height: 175px;
    max-width: 175px;
}

.flash-ctg .flash-horizontalline {
    margin-top: 4%;
    width: 70%;
    height: 1px;
    margin: auto;
    box-shadow: 0 1px 3px gray;
}

.flash-ctg .flash-ctg-name {
    position: static;
    margin-top: 5%;
    font-size: 100%;
    text-align: center;
    width: 100%;
}

.flash-ctg .flash-ctg-price {
    position: static;
    margin: 5% 2% 0 2%;
    height: 22px;
/*    font-weight: 500;*/
    font-size:94%;
    width: 100%;
}

.flash-ctg-price .flash-ctg-price-mrp {
    width: 48%;
    color:#514f4f;
    padding-right: 1%;
    float: left;
    text-align: right;
    border: 1px solid white;
}

.flash-ctg-price .flash-ctg-price-offer {
    width: 48%;
    padding-left: 1%;
    float: left;
    text-align: left;
    color: red;
}

.flash-ctg-bottom-ribbon{
    width: 100%;
    margin-top: 5%;
    background: linear-gradient(rgb(241,241,241), rgb(208,208,208));
    background: -webkit-linear-gradient(rgb(241,241,241), rgb(208,208,208));
    background: moz-linear-gradient(rgb(241,241,241), rgb(208,208,208));
    background: -o-linear-gradient(rgb(241,241,241), rgb(208,208,208));
}

.flash-ctg .flash-ctg-bottom-ribbon .flash-ctg-button-buynow {
    width: 40%;
    color:white;
    float: left;
    position: static;
    background-color: white;
    padding: 5%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 1px 2px black;
    background: linear-gradient(lightgray, gray);
    background: -webkit-linear-gradient(lightgray, gray);
    background: -o-linear-gradient(lightgray, gray);
    background: -moz-linear-gradient(lightgBest Feb Deal Sareeray, gray);
    -wekit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.flash-ctg:hover .flash-ctg-bottom-ribbon .flash-ctg-button-buynow {
    position: static;
    color: black;
    text-shadow: 0 1px 2px white;
    background: linear-gradient(rgb(222, 204, 18), rgb(216, 114, 14));
    background: -webkit-linear-gradient(rgb(222, 204, 18), rgb(216, 114, 14));
    background: -o-linear-gradient(rgb(222, 204, 18), rgb(216, 114, 14));
    background: -moz-linear-gradient(rgb(222, 204, 18), rgb(216, 114, 14));
}

.flash-ctg-bottom-ribbon .flash-ctg-timeleft{
    width: 50%;
    float: left;
}

.flash-ctg-timeleft .timeleft-image{
    width: 25%;
    margin:8% 0% 0 4%;
    float: left;
}

.flash-ctg-timeleft .timeleft-image img{
    width: 75%;
}

.flash-ctg-timeleft .timeleft-timer {
    width: 100%;
    color: red;
    font-size: 80%;
}

.timeleft-timer .countdown-timer-colon {
    margin: 1%;
    float: left;
    height: 16px;
}

.timeleft-timer .countdown-timer-days {
    float: left;
    width: 65%;
    margin: 1%;
    padding: 1%;
    height: 15px;
}

.timeleft-timer .countdown-timer-hours {
    float: left;
    margin: 1%;
    min-width: 18px;
    height: 16px;
}

.timeleft-timer .countdown-timer-minutes {
    float: left;
    margin: 1%;
    min-width: 18px;
    height: 16px;
}

.timeleft-timer .countdown-timer-seconds {
    float: left;
    margin: 1%;
    min-width: 18px;
    height: 16px;
}
/*top menu*/
/**{
	margin:0px;
	padding:0px;
	}
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	}*/
.clearfix:after {
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
    content: '.';
}

.flash-menu-container {
    width: 1140px;
    margin: 0 auto;
    background: url(../images/flash-landing/nav-bg.jpg) repeat-x center center;
}

.flash-menu-container .flash-menu-nav {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    float: left;
}

.flash-menu-container .flash-menu-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.flash-menu-container .flash-menu-nav ul li {
    float: left;
    background: url(../images/flash-landing/bg-right.jpg) no-repeat center right;
}

.flash-menu-container .flash-menu-nav ul li:last-child {
    background: none;
}

.flash-menu-container .flash-menu-nav ul li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    width: 220px;
    text-align: center;
    line-height: 50px;
    /*padding:0% 34.8%;*/
    
    color: #fff;
}

.flash-menu-container .flash-menu-nav ul li a:hover {
    background: url(../images/flash-landing/nav-hover-bg.jpg) repeat-x center center;
    color: #303030;
}

.flash-menu-container .Aerrow {
    margin: 1% 1% 0 0;
    cursor: pointer;
    float: right;
}

.flash-menu-container .Aerrow:hover {
    opacity: 0.6;
}

.flash-menu-container .flash-menu-nav ul li a.active {}

/*
.container-1140{
	width:1140px;
	 margin:0 auto;
	 background:url(../images/nav-bg.jpg) repeat-x center center;
	 }
.flash-banner{
width: 1140px;
  margin: 0 auto;
  margin-bottom: 0;
}
.container-1140 .nav{
	font-size:14px;
	
	position:relative;
	overflow:hidden;
	float:left;
	
	}

.container-1140 .nav ul{
	list-style:none;
	}

.container-1140 .nav ul li{
	float:left;
	background:url(../images/bg-right.jpg) no-repeat center right;
	}
.container-1140 .nav ul li:last-child{
	background:none;
	}

.container-1140 .nav ul li a{
	text-decoration:none;
	display:block;
	text-decoration: none;
    width: 220px;
	text-align:center;
	line-height:50px;
	padding:0% 34.8%;
	
	color:#fff;
	}
.container-1140 .nav ul li a:hover{
	background:url(../images/nav-hover-bg.jpg) repeat-x center center;
	color:#303030;
	}
.container-1140 .Aerrow{
	margin: 0.5% 1% 0 0;	
	cursor:pointer;
	float:right;
	}
.container-1140 .Aerrow:hover{
	opacity:0.6;
	}

.container-1140 .nav ul li a.active{}
*/

/***********media query***************/

@media screen and (max-width: 1100px) {
    .flash-menu-container {
        width: 90%;
        margin: 0 auto;
    }
}